/* CSS pour l'ensemble de l'application */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

/* CSS pour l'input */
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* CSS pour la liste de pokemons */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  margin: 20px;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.info {
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  font-size: 18px;
  margin: 0;
}
